body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Pt Sans', serif;
  margin: 0 auto;
  width: 1440px;
  background-color: #cccccc;
  color: #000000;
}
.block1 {
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
  background-color: #767589;
}

.block2 {
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
  background-color: #767589;
}

.block3 {
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
  background-color: #767589;
}
