@media only screen and (min-width: 415px) and (max-width: 769px) {
  body{
    width: 768px;
  }
  .blocks {
    flex-direction: column;
  }
  .block1 {
    margin: 10px;
    width: 242%;
    height: 80px;
  }

  .block2 {
    margin: 10px;
    width: 242%;
    height: 80px;
  }

  .block3 {
    margin: 10px;
    width: 242%;
    height: 80px;
  }
